<mat-toolbar class="flex items-center px-8 w-unset h-16 navbar">
  <span class="font-serif title text-2xl mr-2">WEAtheR IT</span>

  <mat-icon class="material-icons-outlined title">
    brightness_4
  </mat-icon>

  <div class="title flex flex-col items-center ml-8" *ngIf="currentHourForecast$ | async as currentHourForecast">
    <img class="w-6 h-6 title-svg" src="assets/{{currentHourForecast.forecastStatus}}.svg" />

    <span class="font-serif">{{currentHourForecast.temperature_2m}} °C</span>
  </div>
</mat-toolbar>