@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.multiline {
  white-space: pre-line;
}